{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styler.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styloo.css' %}" />
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}
</body>
</html>
