{% extends 'main.html' %}
{% block title %} Terms and Conditions of Sapa Bank {% endblock title %}

{% block content %}
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 20px;
    }
        h1 {
            text-align: center;
        }
        
        section {
            background-color: #6a0707;
            padding: 20px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            margin-bottom: 10px;
        }
        
        li:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #ccc;
            margin-right: 10px;
        }
    </style>
    </head>
    <body>
    <h1>Terms and Conditions</h1>
    <section>
        <h2>Individual Account Opening</h2>
        <p>To Access Bank Plc</p>
        <p>I/WE (the Customer) HEREBY REQUEST AND AUTHORISE YOU TO</p>
        <ul>
            <li>Open an account in my/our name and at any time subsequently open further accounts as I/We may direct.</li>
            <li>Honour all orders which may be drawn on the said account provided such orders are signed by me/us and to debit such order to the said account whether such account be for the time being in credit or overdrawn or may become overdrawn in consequence of such debit without prejudice to your right to refuse to allow any overdraft or increase of overdraft and in consideration , I/We agree</li>
        </ul>
    </section>
    
    <section>
        <h2>General Terms and Conditions</h2>
        <ul>
            <li>a) To assume full responsibility for the genuineness, correctness and validity of endorsements appearing on all cheques, orders, bills, notes, negotiable instruments, receipts and/or other documents deposited in my/our account.</li>
            <li>b) To be responsible for the repayment of any overdraft with interest and to comply and be bound by the Bank's rules for the conduct of a Savings Account receipt of which I/We hereby acknowledge.</li>
            <li>c) To free the Bank from any responsibility for any loss or damage to funds deposited with the Bank due to any future government order, law, levy, tax, embargo and/or all other causes beyond the Bank's control.</li>
            <li>d) That all funds standing to my/our credit are payable on demand only in such local currency as may be in circulation.</li>
            <li>e) To be bound by any notification of change in conditions governing the account directed to my/our last known address and any notice or letter sent to my/our last known address shall be considered as duly delivered and received by me/us at the time it will be delivered in the ordinary course of post.</li>
            <li>f) And I/We note that the Bank will accept no liability whatsoever for funds handed to members of staff outside the Bank's premises.</li>
            <li>g) That any disagreements with entries on my/our Bank Statements will be made by me/us within 15 days of the dispatch of the Bank Statement. Failing receipt by the Bank of a notice of disagreement of entries within 15 days from the date of dispatch of my/our Bank Statement as rendered is correct.</li>
            <li>h) The Customer hereby agrees that the Customer shall, at his/its own expense, indemnify, defend and hold harmless ACCESS Bank from and against any and all liability any other loss that may occur, arising from or relating to the operation or use of the Account or the Services or breach, non-performance or inadequate performance by the Customer of any of these Terms or the acts, errors, representations, misrepresentations, misconduct or negligence of the Customer in performance of its obligations.</li>
            <li>i) Under no circumstances shall ACCESS Bank be liable to the Customer for any indirect, incidental, consequential, special or exemplary damages in connection with the Account or the Services.</li>
            <li>j) ACCESS Bank shall not be liable for any failure to perform any obligation contained in these Terms or for any loss or damage whatsoever suffered or incurred by the Customer howsoever caused and whether such loss or damage is attributable (directly or indirectly) to any dispute or any other matter or circumstances whatsoever.</li>
            <li>k) The Customer shall keep ACCESS Bank indemnified at all times against, and save ACCESS Bank harmless from all actions, proceedings, claims, losses, damages, costs, interest (both before and after judgement) and expenses (including legal costs on a solicitor and client basis) which may be brought against or suffered or incurred by ACCESS Bank in resolving any dispute relating to the Customer's Account with ACCESS Bank or in enforcing ACCESS Bank's rights under or in connection with these Terms and conditions contained herein, or which may have arisen either directly or indirectly out of or in connection with ACCESS Bank performing its obligations hereunder or accepting instructions, including but not limited to, fax and other telecommunications or electronic instructions, and acting or failing to act thereon.</li>
            <li>l) If any sum due and payable by the Customer is not paid on the due date, including without limitation any moneys claimed under this Paragraph, the Customer shall be liable to pay interest (both after as well as before any judgement) on such unpaid sum at such rate or rates as ACCESS Bank may from time to time stipulate from the date payment is due up to the date of payment.</li>
            <li>m) The Customer shall solely be responsible for ensuring full compliance with all the applicable laws and regulations in any relevant jurisdiction in connection with establishment of his/her Account with ACCESS Bank and shall indemnify and keep indemnified ACCESS Bank from all actions, proceedings claims, losses, damages, costs and expenses (including legal costs on a solicitor and client basis) which may be brought against or suffered or incurred by ACCESS Bank in connection with any failure to comply with any such applicable laws/regulations.</li>
            <li>n) The indemnities as aforesaid shall continue notwithstanding the termination of the Account.</li>
            <li>o) That any sum standing to the debit of the current account shall bear interest charges at the rate fixed by the Bank from time to time. The Bank is authorized to debit from the account the usual banking charges, interest, commissions and any service charge set by the Management from time to time.</li>
            <li>p) I/We also agree that in addition to any general lien or similar right to which you as bankers may be entitled by law you may at any time without notice to me/us combine or consolidate all or any of my/our accounts without any liabilities to you and set off or transfer any sum or sums standing to the credit of any one or more of such accounts or any other credits, be it cash, cheques, valuables, deposits, securities, negotiable instruments or other assets belonging to me/us with you in or towards satisfaction of any of my/our liabilities to you or any other account or in any other respect whether such liabilities be actual or contingent, primary or collateral and joint or several.</li>
            <li>q) I/We shall be solely responsible for the safe-keeping and the confidentiality of the statements of account, balance confirmation certificate, cheque books, Debit card and its PIN, user id and passwords relating to internet banking and such other items relevant or pertaining to the Account.</li>
            <li>r) I/we pledge that we shall not issue any cheque or instruction or instrument on our account without first ensuring that our account with the Bank is sufficiently funded to accommodate such payments. Consequently, we hereby authorize the Bank to report to the Central Bank of Nigeria (CBN), Economic and Financial Crimes Commission and/or any other regulator, details of any transaction or incident of returned cheque or instrument on our accounts due to insufficient funds for further investigation and prosecution.</li>
            <li>s) I/we pledge to comply with the rules and regulations put in place by the CBN regarding dud cheque from time to time. Consequently, we hereby irrevocably and unconditionally authorize the Bank to enforce without further recourse to us, such CBN rules and regulation on dud cheque as may be applicable against us in the event of our breach CBN rules.</li>
        </ul>
    </section>
    
    <section>
        <h2>Additional Terms and Conditions for Dual Citizenship Holders and/or Dual Residence Holders</h2>
        <p>I/we hereby irrevocably and unconditionally request and authorize the Bank to disclose my/our account details, transaction and confidential information on my/our account to the United States Internal Revenue Service or European Union or any other entity or regulator whether international or local as may be requested from time to time without further recourse to me/us.</p>
        <p>I/we hereby irrevocably and unconditionally authorize the Bank to comply without further recourse to me/us with such instructions and directive as may be issued by the United States Revenue Service or European Union or any other regulator having authority over the country or jurisdiction where I/we reside or are nationalized. Such directives include without limitation deducting any sum on my/our account or withholding any payment on
    {%endblock content%}      